/*
dark background color (hero & footer): #1F2937

Hero Main text:  48px extra-bold #F9FAF8

Hero Secondary text: 18px #E5E7EB

Header Logo Text: 24px #F9FAF8

Button color, call to action bg color:  #3882F6

information header text:  36px extra-bold #1F2937

Quote section bg color:  #E5E7EB

Quote text:  36px light italic #1F2937

*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: roboto;
}

h2 {
	text-align: center;
	font-size: 36px;
	font-weight: 900;
}

blockquote {
	font-size: 36px;
	font-weight: 200;
	font-style: italic;
}

header {
	height: 4em;
}

nav {
	width: 50%;
	display: flex;
	justify-content: flex-start;
}

nav ul {
	list-style-type: none;
	display: flex;
	margin-left: auto;
	gap: 20px;
	align-items: center;
	font-size: 1.1em;
}

a {
	text-decoration: none;
	color: inherit;
}


.darkbg {
	background-color: #1F2937;
}

.darkfg {
	color: #1F2937;
}

.whitebg {
	background-color: white;
}

.whitefg {
	color: #F9FAF8;
}

.bluebg {
	background-color: #3882F6;
}

.bluefg {
	color: #3882F6;
}

.quotebg {
	background-color: #E5E7EB;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;	
}

.big {
	height: 40vh;
}

.vertical {
	flex-direction: column;
}

#logo {
	font-size: 24px;
	font-weight: 900;
}

#hero {
	height: 40vh;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
}

#hero h1 {
	font-weight: 900;
	font-size: 48px;
}

#hero img {
	max-height: 80%;
	margin-left: 20px;
}

#hero p {
	font-size: 18px;
	color: #E5E7EB;
	margin: 10px 0;
}

button {
	margin-top: 5px;
	width: 130px;
	font-size: 18px;
	font-weight: 900;
	border: none;
	height: 2em;
	color: #F9FAF8;
	background-color: #3882F6;
	border-radius: 5px;
}

#random {
	margin-top: 3em;
	height: 40vh;
	margin-bottom: 3em;
}

#random > div {
	display: flex;
	margin: 4em;
	gap: 4em;
}

#random p {
	width: 200px;
	text-align: center;
	font-size: 18px;
	opacity: .5;
}

#random img {
	max-width: 200px;
	height: 200px;
	border: 5px solid #3882F6;
	border-radius: 10px;
}

#quote {
	height: 40vh;
	width: 50%;
	gap: 10px;
	flex-direction: column;
}

#quote p {
	align-self: flex-end;
	font-weight: 500;
}

#action {
	height: 50%;
	border-radius: 15px;
	width: 50%;
	display: flex;
	justify-content: space-evenly;
}

#action button {
	border: 2px white solid;
}


footer {
	height: 4em;
}